@import "tailwindcss";

@theme {
  --color-uta-gold: #FFBD00;
  --color-uta-red: #C00000;
  --color-uta-gold-dark: #E5A800;
  --color-uta-red-dark: #990000;
  --color-uta-navy: #0A2647;
  --color-uta-gray: #F5F5F5;
}
